* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Source Code Pro', monospace;
}

:root {
    --delete-color: #f42815;
    --edit-color: #802392;
    --table-color: #dbd9db;
    --row-hover-color: #f5f5f5;
    --main-background-color: #a59b9b;
    --btn-color: #FFF275;
    --header-color: color: var(--header-color);;
}

main {
    margin-inline: auto;
    text-align: center;
}

.table {
    background-color: var(--table-color);
    margin-inline: 5%;
    border-radius: 10px;
    /* padding-block: 10px; */
    overflow: hidden;
    overflow-x: auto;
    -webkit-box-shadow: 1px 2px 4px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 2px 4px -2px rgba(66, 68, 90, 1);
    box-shadow: 1px 2px 4px -2px rgba(66, 68, 90, 1);
    margin-bottom: 50px;

}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    color: var(--header-color);
    border-bottom: 2px solid;
    background-color: var(--main-background-color);
    padding-bottom: 10px;
    padding: 5px 10px;
}

td {
    border-bottom: 1px solid black;
    border-right: 1px dotted #586ba4;
    padding: 5px;
}

tr:last-child td {
    border-bottom: 0;
}

td:last-child, th:last-child {
    border-right: 0;
}

tr:hover {
    background-color: var(--row-hover-color);
    backdrop-filter: blur(20px);
}
tr:hover th {
    background-color: var(--main-background-color);
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: var(--btn-color);
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    font-style: bold;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    background-color: #fffccd;
    -webkit-box-shadow: 1px 1px 3px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 1px 3px -2px rgba(66, 68, 90, 1);
    box-shadow: 1px 1px 3px -2px rgba(66, 68, 90, 1);
    /* -webkit-box-shadow: inset -1px -1px 3px -1px rgba(185, 185, 185, 1);
    -moz-box-shadow: inset -1px -1px 3px -1px rgba(185, 185, 185, 1);
    box-shadow: inset -1px -1px 3px -1px rgba(185, 185, 185, 1); */
}

.delete-row-btn:hover {
    background-color: var(--delete-color);
    color: #f5f5f5;
}

.edit-row-btn:hover {
    background-color: var(--edit-color);
    color: #f5f5f5;
}
 
input, select {
    font-family: 'Source Code Pro', monospace;
    padding: 10px 15px;
    font-size: 1rem;
    /* border: 1px solid gray; */
    border-radius: 5px;
    outline-width: 0;
    border-width: 0;
    /* width: 100%; */
    margin: auto;
}

label {
    font-size: 1rem;
    /* display: block; */
    /* text-align: start; */
}
.add-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: auto;
    margin-block: 25px;
    padding: 20px;
    background-color: var(--table-color);
    border-radius: 10px;
    width: fit-content;
    -webkit-box-shadow: 1px 2px 4px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 2px 4px -2px rgba(66, 68, 90, 1);
    box-shadow: 1px 2px 4px -2px rgba(66, 68, 90, 1);
}
.add-task button {
    margin-top: 20px;
    margin-inline: auto;
}

.search {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    margin-inline: auto;
    margin-bottom: 25px;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--table-color);
    -webkit-box-shadow: 1px 2px 4px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 2px 4px -2px rgba(66, 68, 90, 1);
    box-shadow: 1px 2px 4px -2px rgba(66, 68, 90, 1);
}

#update-row {
    border-top: 1px solid black;
    padding-block: 5px;
    width: 100%;
}